
{% extends "base.html" %}

{% block content %}
<div>
	<h2 style="align-self: center">Patient Update</h2>

		<form method="POST" action="get-patient-delete">
			<label for="patient_id">Patient SSN ID *</label>
			<input type="number" id="patient_id" name="patient_id" value="" required />
			<button value="get">Get</button>
		</form>

	{% if user %}
		<form action="delete-patient-info" id="registration" method='POST'>
		<input type="hidden" id="patient_id" name="patient_id" value="{{patient_id}}" required />
		<p>
			<label for="patient_name">Patient Name</label>
			<input type="text" id="patient_name" name="patient_name" value='{{name}}' />
		</p>

		<p>
			<label for="patient_age">Patient Age</label>
			<input type="number" id="patient_age" name="patient_age" value={{patient_age}} />
		</p>

		<p>
			<label for="">Date of Admission</label>
			<input type="date" id="ws_doj" name="pat_doj" value={{date_admission}} />
		</p>

  
		  <p>
		    <label for="type_of_bed">Type Of Bed {{bed_type}}</label>
		    <select id="ws_rwtype" name="type_of_bed" value='{{bed_type}}'>
		      <option value="">select</option>
		      <option value="General" {% if bed_type == "General" %} selected {% endif %}>General</option>
		      <option value="Semi" {% if bed_type == "Semi" %} selected {% endif %}>Semi</option>
		      <option value="Single" {% if bed_type == "Single" %} selected {% endif %}>Single</option>
		    </select>
		  </p>

		<p>
			<label for="Address">Address</label>
			<textarea name="address" id="desc" cols="40" rows="5">{{address}}</textarea>
		</p>

		<p>
		<label for="Address">State</label>
		<select name="state">
				{%for i in range(0, lenState)%} 
					<option value={{statedrop[i]}} {% if state == statedrop[i] %} selected {% endif %}>{{statedrop[i]}}</option>
				{% endfor %}
		</select>
		</p>
		<p>
		<label for="Address">District</label>
		<select name="district">
				{%for i in range(0, lenDist)%} 
					<option value={{district[i]}} {% if city == district[i] %} selected {% endif %}>{{district[i]}}</option>
				{% endfor %}
		</select>
		</p>

		<p>
			 * Mandatory
		</p>
		<p>
		<input id="btns" type="Submit" value="Delete">
		</p>
		
	</form>
	{% endif %}
	<div id="errorMessages"></div>
	{% endblock %}