
{% extends "base.html" %}

{% block content %}
<div>
	<h2 style="align-self: center">Patient Update</h2>

    <form method="POST" action="/get-patient-store">
        <label for="patient_id">Patient SSN ID *</label>
        <input type="number" id="patient_id" name="patient_id" value="" required />
        <button value="get">Get</button>
    </form>
    {% if user %}
        <label>Farmacy</label>
        <table>
        <tr>
            <th>Patient ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>DOJ</th>
            <th>Type of Room</th>
        </tr>
        <tr>
            <td>{{patient_id}}</td>
            <td>{{name}}</td>
            <td>{{patient_age}}</td>
            <td>{{address}}</td>
            <td>{{date_admission}}</td>
            <td>{{bed_type}}</td>
        </tr>

        <label>Issued Medicine</label>
        <table>

        <tr>
            {% if not medicine_list %}
                <td>No previous medicine issued</td>
            {% else %}
                    <tr>
                        <th>Medicine</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Amount</th>
                    </tr>
            {% for i in medicine_list %}
                <tr>
                    <td>{{i.medicine_name}}</td>
                    <td>{{i.quantity}}</td>
                    <td>{{i.rate}}</td>
                    <td>{{i.amount}}</td>
                <tr>
            {% endfor %}
            {% endif %}
        </tr>
        </table>
        <form method='POST' action='/issue-medicine'>
            <input type="hidden" id="patient_id" name="patient_id" value={{patient_id}} required />
            <button value="Issue">Issue</button>
        </form>
    {% endif %}
<div id="errorMessages"></div>
{% endblock %}