{% extends "base.html" %}

{% block content %}

	<form action="/create-patient" id="registration" method="POST">
	<h2 style="align-self: center">Patient Ragistration</h2>

		<p>
			<label for="patient_id">Patient SSN ID *</label>
			<input type="number" id="patient_id" name="patient_id" value="" />
		</p>

		<p>
			<label for="patient_name">Patient Name *</label>
			<input type="text" id="patient_name" name="patient_name" value="" />
		</p>

		<p>
			<label for="patient_age">Patient Age *</label>
			<input type="number" id="patient_age" name="patient_age" value=""/>
		</p>

		<p>
			<label for="">Date of Admission *</label>
			<input type="date" id="ws_doj" name="pat_doj" value=""/>
		</p>

  
		  <p>
		    <label for="type_of_bed">Type Of Bed *</label>
		    <select id="ws_rwtype" name="type_of_bed" >
		      <option value="">select</option>
		      <option value="General">General</option>
		      <option value="Semi">Semi</option>
		      <option value="Single">Single</option>
		    </select>
		  </p>

		<p>
			<label for="Address">Address *</label>
			<textarea name="address" id="desc" cols="40" rows="5"></textarea>
		</p>
		
		<p>
		<label for="Address">State</label>
		<select name="state">
				{%for i in range(0, lenState)%} 
					<option value={{state[i]}}>{{state[i]}}</option>
				{% endfor %}
		</select>
		</p>
		<p>
		<label for="Address">District</label>
		<select name="district">
				{%for i in range(0, lenDist)%} 
					<option value={{district[i]}}>{{district[i]}}</option>
				{% endfor %}
		</select>
		</p>
		<p>
<!-- 		<button type="submit" id="register">Submit</button>
 -->	<input id="btns" type="submit" value="Submit">
		<input id="btns" type="reset" value="Reset">

		</p>

	</form>

	<div id="errorMessages"></div>
{% endblock %}